body {
  background-color: lightblue;
  text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.centered-element {
    width: 50%; /* Adjust width as needed */
    height: 50%; /* Adjust height as needed */
    margin-top:100px
    background-color: #;
    text-align: center;
    line-height: 300px; /* Center content vertically */
}
.img{
width:400px;
height:400px;
}
