<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazon Web Scrapping </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
<img class="img" src="../static/scrapper.jpg">
 <div class="container">
        <div class="centered-element">
            <form action="{{ url_for('toward_scrap') }}" method="post">
    <input type="text" name="amazon_url" placeholder="Enter Amazon URL">
    <button type="submit">Start</button>
</form>

        </div>
 </div>


</body>
</html>